* {
  margin: 0;
  padding: 0;
}

#container-container {
  position: relative;
  padding-bottom: 450px;
  top: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-part {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1000px;
  margin: 0 40px;
  padding-top: 35px;
}
.first-part-p {
  color: black;
  font-size: 35px;
  word-spacing: 2px;
  padding-top: 10px;
}
#container {
  max-width: 1000px;
  margin: 70px 40px;
  height: 100%;
  padding: 40;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 20px;
  color: #414a4f;
  max-height: 100%;
}
.light-blue-text {
  color: #44857d;
}
.orange-text {
  color: #ec6333;
}
.blue-text {
  color: #317070;
}
.p1 {
  line-height: 1.3;
  margin-bottom: 20px;
}
.p2 {
  line-height: 1.5;
}
.p3 {
  line-height: 1.5;
}
h2 {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 2em;
}

.about-people {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .first-part-p {
    font-size: 27px;
  }


}