/*to remove default margin and padding in the NavBar component page.*/
* {
    margin: 0px;
    padding: 0px;
}

   /* position and height of logo on navigation bar*/
img {
    height: 4vh;
    margin: 15px; 
}