* {margin: 0px; padding: 0px; }

.sunset-hero-bg {
    text-align: center;
    background: rgba(0,0,0,.50) url(../image/Sunset.jpg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    
    
    
}
.sunset-h1-container {
    position: relative;
}
.sunset-hero-header {
   font-size: 6vw;
   font-family: 'Avenir', Helvetica, sans-serif;
   position: absolute;
   left: 43vh;
   top: 30vh;
   
   
   
   
}

.mentor {
    color: white;
}

.amp {
    color: #EC6333;
}
